<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12 col-md-6 col-lg-6 col-md-offset-1 col-lg-offset-1">
			<div class="demon-video">
				<img src="images/pic1.jpg" class="img-responsive" alt="Responsive image">
			</div>
		</div>
		<div class="col-sm-12 col-md-4 col-lg-4">
			<div class="text-title demon-text-title">
				<h2>Demonstrate Algorithm</h2>
			</div>
			<div class="demon-text-body text-body">
				<p>It will be shown as graphics/cartoons gradually how the algorithm extracts the important waveforms in
the EEG signals and estimates the heart rate. You can Start to learn the algorithms by select the algorithm follow the list below.</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12 col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 text-center select-Algorithm">
			<a ng-href="#!demonstrate/panandtompkins"><div class="demon-algorithm">Pan and Tompkins Algorithm<br>(1985)</div></a>
			<a href="#"><div class="demon-algorithm">Hamition and Tompkins Algorithms<br>(1999)</div></a>
			<a href="#"><div class="demon-algorithm">The phasor-based Tranform Algorithm<br>(2010)</div></a>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12 col-md-12 col-lg-12 compare-box" id="box-algorithm">
			<div class="col-sm-12 col-md-4 col-lg-4 col-md-offset-4 col-lg-offset-4">
				<div class="text-title text-center compare-text-title">
					<h2>Compare Algorithms</h2>
				</div>
				<div class="text-body compare-text-body">
					<p>This function for compare the accuracy of each algorithms by using the data from MIT-BIH database.The results will show as the table and the detail after analysis that record. There are 3 algorithms that use in this function following the first part</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row green-bg">
		<div class="col-sm-12 col-md-4 col-lg-4 col-md-offset-4 col-lg-offset-4 text-center compare-button"> 
			<div class="btn-group">
			  	<button type="button" class="btn btn-default dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			  		<div ng-hide="name">Select file</div>
			  		<div ng-show="name">{{name}}</div>
			  		<span class="caret"></span>
			  	</button>
			  	<ul class="dropdown-menu">
				    <li ng-repeat="record in records"><a ng-click="SelectTime(record.name)">{{record.name}}</a></li>
			  	</ul>
			</div>
			<div class="btn-group" ng-show="times">
			  	<button type="button" class="btn btn-default dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Select time <span class="caret"></span></button>
			  	<ul class="dropdown-menu">
				    <li ng-repeat="time in times"><a ng-href="#!compare/{{time.name}}-{{time.time}}.csv/default">{{time.time}}:00</a></li>
			  	</ul>
			</div>
			<div class="input-group-btn">
				<a class="btn btn-default btn-sm" href="https://physionet.org/physiobank/database/html/mitdbdir/records.htm#100" role="button">Detail of the records</a>
			</div>
		</div>
	</div>
<!-- 	<div class="row">
		<div class="col-sm-12 col-md-4 col-lg-4 col-md-offset-1 col-lg-offset-1" id="box-arrhythmia">
			<div class="text-title upload-text-title text-right"><h2>Analasis Arrhythmias</h2></div>
			<div class="text-body upload-text-body">
				<p>The user have to upload your ECG signal data to our website. The data that you gonna upload should be CSV file or XML file and the select the algorithm that you want to use to analysis your data. then click upload and the system will show the results.</p>
			</div>
		</div>
		<div class="col-sm-12 col-md-5 col-lg-5 col-md-offset-1 col-lg-offset-1 upload-form">
			<div><h5>Step 1 : Choose your file</h5></div>
			<div class="input-group">
				<input type="file" class="form-control" placeholder="Search for...">
				<span class="input-group-btn"><a class="btn btn-default disabled" href="#" onclick="changepage('test.html');return false;" role="button">Upload</a></span>
		    </div>
		    <div><h5>Step 2 : Select the algorithm</h5></div>
		    <div class="row">
				<div class="col-sm-12 col-md-12 col-lg-12 text-center select-Algorithm">
					<div class="upload-algorithm">Pan and Tompkins Algorithm</div> 
					<div class="upload-algorithm">Hamition and Tompkins Algorithms</div> 
					<div class="upload-algorithm">The phasor-based Tranform Algorithm</div> 
				</div>
			</div>
		</div>
	</div>
 -->



	<div class="row about">
		<div class="col-sm-12 col-md-4 col-lg-4 col-md-offset-1 col-lg-offset-1" id="box-about">
			<div><h2>About As</h2></div>
			<div><p>
				A Report Submitted in Partial Fulfillment of Project Survey course as Required by the Degree of Bachelor of Engineering<br>
				Department of Computer Engineering<br>
				Faculty of Engineering<br>
				Chiang Mai University<br>
				2016</p>
			</div>
			<!-- <span class="input-group-btn">
			    <button class="btn btn-default" type="button">Read the document project</button>
			</span> -->
		</div>
	</div>
</div>